*.js linguist-detectable=true
*.sol linguist-detectable=true
*.sol linguist-language=Solidity
*.js linguist-language=Javascript
*.json linguist-detectable=true
*.json linguist-language=json
*.json filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
